#calendar {
    position: absolute;
    left: 43.25%;
    top: 53%;
    width: 21%;

}

#calendarText {
    position: absolute;
    left: 44.5%;
    top: 61%;
    width: 18.5%;
    z-index: 100;
    color: rgb(59, 39, 60);
    font-family: "RionaHandwriting", sans-serif;
    font-size: calc(1.2 / 100 * min(100vw, 160vh));
    text-align: center;
}

.calendarHeading {
    margin-bottom: 5px;
    font-size: 2.0em;
    text-align: left;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.calendarDay {
    position: relative;
}

.today {
    position: relative;
    z-index: 1;
}

.today::before {
    content: "";
    position: absolute;
    top: 47%;
    left: 51.5%;
    transform: translate(-50%, -60%);
    width: 1.9em;
    height: 1.7em;
    background-image: url(../Assets/Animations/calendarCircleAnimation.GIF);
    background-size: 1.9em;
    background-repeat: no-repeat;
    z-index: -1;
}