#addReminder {
    color: rgba(59, 39, 60, 0.45);
    cursor: pointer;
    font-family: "RionaHandwriting", sans-serif;
    font-size: inherit;
}

#addReminder:hover {
    color: rgba(59, 39, 60, 0.8);
}


#newReminderInput {
    font-family: "RionaHandwriting", sans-serif;
    font-size: inherit;

    color: rgb(59, 39, 60);

    background: transparent;
    border: none;
    outline: none;

    width: 100%;
}

#reminderList {
    position: absolute;

    left: 39.5%;
    top: 20.4%;

    width: 13%;
    height: 18%;

    z-index: 80;

    color: rgb(59, 39, 60);

    font-family: "RionaHandwriting", sans-serif;

    font-size: calc(1.5 / 100 * min(100vw, 160vh));
}

.reminder {
    margin-bottom: 0.32em;
    cursor: pointer;
    transition: 0.2s ease;
    z-index: 81;
}

.reminder:hover {
    color: white;
    text-shadow: -1px -1px 0 #3b273c, 1px -1px 0 #3b273c, -1px 1px 0 #3b273c, 1px 1px 0 #3b273c;
}

#editingRemindersText {
   position: absolute;

    left: 44%;
    top: 87%;

    padding: 2% 2%;

    background-color: rgb(182, 236, 228);
    border: none;
    transform: rotate(3deg);
    box-shadow: 4px 4px 0 rgba(59, 39, 60, 0.2);
    font-family: "RionaHandwriting", sans-serif;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;

    z-index: 102;
}

#editingRemindersText.visible {
    opacity: 1;
}

#reminders {
    position: absolute;
    left: 37.6%;
    top: 5.2%;
    width: 18%;
    z-index: 1;
}

.reminder {
    margin-bottom: 0.32em;
}