body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: #d8c19c;
}

.board {
    position: relative;
    width: fit-content;
}

#background {
    display: block;
    width: 100vw;      /* example */
}

#editCup {
    position: absolute;
    left: 4%;
    bottom: 3.5%;
    width: 18%;
}

#helper {
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
}