body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: #d8c19c;
}

@font-face {
    font-family: "RionaHandwriting";
    src: url("../Assets/fonts/RionaHandwriting-Regular.ttf") format("truetype");
}

.board {
    position: relative;
    width: fit-content;
}

#background {
    display: block;
    width: 100%;      /* example */
}

#editCup {
    position: absolute;
    left: 4%;
    bottom: 6%;
    width: 18%;
}

#workHours {
    position: absolute;
    left: 9.25%;
    top: 8.5%;
    width: 21.5%;
}

#stickyNote {
    position: absolute;
    left: 26.5%;
    top: 60%;
    width: 13.5%;
}

#calendar {
    position: absolute;
    left: 43.25%;
    top: 53%;
    width: 21%;
}

#reminders {
    position: absolute;
    left: 37.6%;
    top: 5.2%;
    width: 18%;
}

#reminderList{
    position:absolute;

    left:39.5%;
    top:20.4%;

    width:13%;
    height:18%;

    z-index:100;

    color:rgb(59, 39, 60);

    font-family: "RionaHandwriting", sans-serif;
    font-size: 150%;
}

.reminder{
    margin-bottom:6.5px;
}


#weatherTideCard {
    position: absolute;
    left: 63.5%;
    top: 5.6%;
    width: 32%;
}

#todayPlan {
    position: absolute;
    left: 69%;
    top: 47%;
    width: 24%;
}