body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: #d8c19c;
}

@font-face {
    font-family: "RionaHandwriting";
    src: url("../Assets/fonts/RionaHandwriting-Regular.ttf") format("truetype");
}

.board {
    position: relative;
    width: min(100vw, 160vh);
}

#background {
    display: block;
    width: 100%;
    /* example */
}

#editCupFront {
    position: absolute;
    left: 7.5%;
    bottom: 10.6%;
    width: 12%;
    z-index: 3;
}

#editCupBack {
    position: absolute;
    left: 7.5%;
    bottom: 10.5%;
    width: 12%;
    z-index: 1;
}

#remindersPen {
    position: absolute;
    left: 13%;
    bottom: 21.2%;
    width: 2.2%;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 2;
}

#remindersPen:hover {
    bottom: 25%;
    left: 13.2%;
    filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);

}

#remindersPen.edit-mode {
    bottom: 25%;
    left: 13.2%;
}

#addReminder {
    color: rgba(59, 39, 60, 0.45);
    cursor: pointer;
    font-family: "RionaHandwriting", sans-serif;
    font-size: inherit;
}

#addReminder:hover {
    color: rgba(59, 39, 60, 0.8);
}


#newReminderInput {
    font-family: "RionaHandwriting", sans-serif;
    font-size: inherit;

    color: rgb(59, 39, 60);

    background: transparent;
    border: none;
    outline: none;

    width: 100%;
}

#workHours {
    position: absolute;
    left: 9.25%;
    top: 8.5%;
    width: 21.5%;
}

#workHoursText {
    position: absolute;

    left: 12%;
    top: 17%;

    width: 15.7%;
    height: 22%;

    z-index: 100;

    color: rgb(59, 39, 60);

    font-family: "RionaHandwriting", sans-serif;

    font-size: calc(1.5 / 100 * min(100vw, 160vh));
}

.weekHeading {
    font-size: 0.85em;
    text-align: center;
    margin-bottom: 10px
}

.totals {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
}

.finaltotal {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.workDay {
    display: flex;
    justify-content: space-between;
}

#stickyNote {
    position: absolute;
    left: 26.5%;
    top: 60%;
    width: 13.5%;
}

#stickyNoteText {
    position: absolute;
    left: 27%;
    top: 65%;
    width: 11.5%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: calc(1.8 / 100 * min(100vw, 160vh));
    color: rgb(59, 39, 60);
    font-family: "RionaHandwriting", sans-serif;
}

#calendar {
    position: absolute;
    left: 43.25%;
    top: 53%;
    width: 21%;

}

#calendarText {
    position: absolute;
    left: 44.5%;
    top: 61%;
    width: 18.5%;
    z-index: 100;
    color: rgb(59, 39, 60);
    font-family: "RionaHandwriting", sans-serif;
    font-size: calc(1.2 / 100 * min(100vw, 160vh));
    text-align: center;
}

.calendarHeading {
    margin-bottom: 5px;
    font-size: 2.0em;
    text-align: left;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.calendarDay {
    position: relative;
}

.dayOff {
    color: rgba(59, 39, 60, 0.655);
}

.today {
    position: relative;
    z-index: 1;
}

.today::before {
    content: "";
    position: absolute;
    top: 47%;
    left: 51.5%;
    transform: translate(-50%, -60%);
    width: 1.9em;
    height: 1.7em;
    background-image: url(../Assets/Animations/calendarCircleAnimation.GIF);
    background-size: 1.9em;
    background-repeat: no-repeat;
    z-index: -1;
}

#reminderList {
    position: absolute;

    left: 39.5%;
    top: 20.4%;

    width: 13%;
    height: 18%;

    z-index: 100;

    color: rgb(59, 39, 60);

    font-family: "RionaHandwriting", sans-serif;

    font-size: calc(1.5 / 100 * min(100vw, 160vh));
}

.reminder {
    margin-bottom: 0.32em;
    cursor: pointer;
    transition: 0.2s ease
}

.reminder:hover {
    color: white;
    text-shadow: -1px -1px 0 #3b273c, 1px -1px 0 #3b273c, -1px 1px 0 #3b273c, 1px 1px 0 #3b273c;
}

#editingRemindersText {
    position: absolute;

    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);

    font-family: "RionaHandwriting", sans-serif;
    font-size: calc(3 / 100 * min(100vw, 160vh));

    color: rgb(253, 253, 253);
    background-color: rgba(114, 207, 222, 0.808);
    border: 5px solid rgba(114, 207, 222, 0.808);
    border-radius: 10px;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

#editingRemindersText.visible {
    opacity: 1;
}


#weatherTideCard {
    position: absolute;
    left: 63.5%;
    top: 5.6%;
    width: 32%;
}

#todayPlan {
    position: absolute;
    left: 69%;
    top: 47%;
    width: 24%;
}

#reminders {
    position: absolute;
    left: 37.6%;
    top: 5.2%;
    width: 18%;
}

#reminderList {
    position: absolute;

    left: 39.5%;
    top: 20.4%;

    width: 13%;
    height: 18%;

    z-index: 100;

    color: rgb(59, 39, 60);

    font-family: "RionaHandwriting", sans-serif;

    font-size: calc(1.5 / 100 * min(100vw, 160vh));
}

.reminder {
    margin-bottom: 0.32em;
}

#tideText {
    position: absolute;

    left: 67%;
    top: 27.5%;

    width: 20%;

    color: rgb(59, 39, 60);
    font-family: "RionaHandwriting", sans-serif;

    font-size: calc(1.5 / 100 * min(100vw, 160vh));
    z-index: 6;
}

#weatherText {
    position: absolute;

    left: 77%;
    top: 15%;

    width: 20%;

    color: rgb(59, 39, 60);
    font-family: "RionaHandwriting", sans-serif;

    font-size: calc(2.75 / 100 * min(100vw, 160vh));
    z-index: 6;
}

#todayPlan {
    position: absolute;
    left: 69%;
    top: 47%;
    width: 24%;
}

#weatherCardBack,
#sunnySea,
#foldedCardFront {
    position: absolute;
    left: 63.5%;
    top: 5.6%;
    width: 32%;
}

#weatherCardBack {
    z-index: 1;
}

#sunnySea {
    z-index: 2;
}

#foldedCardFront {
    z-index: 3;
}

#foldedWeatherIcon {
    position: absolute;
    left: 67%;
    top: 12.5%;
    width: 9%;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 5;
}

#foldedWeatherIcon:hover {
    filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);
}

#weatherExpanded {
    display: none;

    position: absolute;
    left: 63.5%;
    top: 5.6%;

    width: 32%;

    z-index: 10;
}


#weatherExpanded.open {
    display: block;
}


#unfoldedCard {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;

    z-index: 0;
}

#foldTab {
    position: absolute;

    left: 44%;
    top: 100%;
    transform: translateY(2270%);

    width: 6%;

    z-index: 5;
    transition: all 0.3s ease;
    cursor: pointer;
}

#foldTab:hover {
    filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);
}


#weatherTop,
#hourlyWeather,
#dailyWeather {
    position: relative;
    z-index: 1;
}

.hidden {
    display: none;
}

/* Weather Top Section */
#weatherTop {
    position: absolute;
    left: 8%;
    top: 10%;
    width: 84%;
    height: 25%;
    transform: translateY(calc(4 / 100 * min(100vw, 160vh)));
}

#currentWeather {
    position: absolute;
    left: 5%;
    top: 0;

    width: 30%;

    text-align: center;
}

#largeWeatherIcon {
    width: 135%;
    transform: translateX(5%);
    transform: translateY(10%);
    display: block;
    margin: 0 auto;
}


#currentTemperature {
    font-family: "RionaHandwriting", sans-serif;
    margin-top: 25%;
    font-size: calc(3 / 100 * min(100vw, 160vh));
    transform: translate(15%, 10%);
    color: rgb(59, 39, 60);
}

#weatherSummary {
    position: absolute;
    right: 1%;
    top: 7%;

    width: 55%;

    font-family: "RionaHandwriting", sans-serif;
    color: rgb(59, 39, 60);
}


#currentTime {
    font-size: calc(1.7 / 100 * min(100vw, 160vh));
    margin-bottom: 5%;
    transform: translate(3%, 0);
}

#todayHigh,
#todayLow {
    font-size: calc(3 / 100 * min(100vw, 160vh));
    transform: translate(
        calc(2 / 100 * min(100vw, 160vh)),
        calc(1 / 100 * min(100vw, 160vh))
    );
}


#currentCondition {
    font-size: calc(1.7 / 100 * min(100vw, 160vh));
    margin-top: 25%;
}

#hourlyWeather {
    position: absolute;
    left: 6%;
    top: 38%;
    transform: translateY(calc(24.5 / 100 * min(100vw, 160vh)));

    width: 82%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

    z-index: 2;
}

.hourlyForecast {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "RionaHandwriting", sans-serif;
    color: rgb(59, 39, 60);
}

.hourlyTime {
    font-size: calc(1.2 / 100 * min(100vw, 160vh));
}

.hourlyIcon {
    width: 60%;
    max-width: 50px;
    margin: 0% 0;
}

.hourlyTemperature {
    font-size: calc(1.3 / 100 * min(100vw, 160vh));
    margin-bottom: 40%;
}

#dailyWeather {
    position: absolute;

    left: 12%;
    top: 72%;
    transform: translateY(calc(40.5 / 100 * min(100vw, 160vh)));

    width: 70%;

    display: flex;
    flex-direction: column;

    z-index: 2;
}

.dailyForecast {
    display: flex;
    align-items: center;

    width: 100%;
    height: 25%;
    margin-bottom: 4%;

    font-family: "RionaHandwriting", sans-serif;
    color: rgb(59, 39, 60);
    
}

.dailyDate {
    width: 25%;
     font-size: calc(1.8 / 100 * min(100vw, 160vh));

    display: flex;
    align-items: center;
    gap: 10%;
}

.dailyDay {
    font-size: calc(1.8 / 100 * min(100vw, 160vh));
}

.dailyDateNumber {
    font-size: calc(1.8 / 100 * min(100vw, 160vh));
}

.dailyIcon {
    width: 8%;
    margin-left: 10%;
    margin-right: 10%;
}

.dailyTemperature {
    font-size: calc(1.8 / 100 * min(100vw, 160vh));
    white-space: nowrap;
}