#weatherTideCard {
    position: absolute;
    left: 63.5%;
    top: 5.6%;
    width: 32%;
}

#tideText {
    position: absolute;

    left: 67%;
    top: 27.5%;

    width: 20%;

    color: rgb(59, 39, 60);
    font-family: "RionaHandwriting", sans-serif;

    font-size: calc(1.5 / 100 * min(100vw, 160vh));
    z-index: 6;
}

#weatherText {
    position: absolute;

    left: 77%;
    top: 15%;

    width: 20%;

    color: rgb(59, 39, 60);
    font-family: "RionaHandwriting", sans-serif;

    font-size: calc(2.75 / 100 * min(100vw, 160vh));
    z-index: 6;
}

#weatherCardBack,
#sunnySea,
#foldedCardFront {
    position: absolute;
    left: 63.5%;
    top: 5.6%;
    width: 32%;
}

#weatherCardBack {
    z-index: 1;
}

#sunnySea {
    z-index: 2;
}

#foldedCardFront {
    z-index: 3;
}

#foldedWeatherIcon {
    position: absolute;
    left: 67%;
    top: 12.5%;
    width: 9%;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 5;
}

#foldedWeatherIcon:hover {
    filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);
}

#weatherExpanded {
    display: none;

    position: absolute;
    left: 63.5%;
    top: 5.6%;

    width: 32%;

    z-index: 10;
}


#weatherExpanded.open {
    display: block;
}


#unfoldedCard {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;

    z-index: 0;
}

#foldTab {
    position: absolute;

    left: 44%;
    top: 100%;
    transform: translateY(2270%);

    width: 6%;

    z-index: 5;
    transition: all 0.3s ease;
    cursor: pointer;
}

#foldTab:hover {
    filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);
}


#weatherTop,
#hourlyWeather,
#dailyWeather {
    position: relative;
    z-index: 1;
}

.hidden {
    display: none;
}

/* Weather Top Section */
#weatherTop {
    position: absolute;
    left: 8%;
    top: 10%;
    width: 84%;
    height: 25%;
    transform: translateY(calc(4 / 100 * min(100vw, 160vh)));
}

#currentWeather {
    position: absolute;
    left: 5%;
    top: 0;

    width: 30%;

    text-align: center;
}

#largeWeatherIcon {
    width: 135%;
    transform: translateX(5%);
    transform: translateY(10%);
    display: block;
    margin: 0 auto;
}


#currentTemperature {
    font-family: "RionaHandwriting", sans-serif;
    margin-top: 25%;
    font-size: calc(3 / 100 * min(100vw, 160vh));
    transform: translate(15%, 10%);
    color: rgb(59, 39, 60);
}

#weatherSummary {
    position: absolute;
    right: 1%;
    top: 7%;

    width: 55%;

    font-family: "RionaHandwriting", sans-serif;
    color: rgb(59, 39, 60);
}


#currentTime {
    font-size: calc(1.7 / 100 * min(100vw, 160vh));
    margin-bottom: 5%;
    transform: translate(3%, 0);
}

#todayHigh,
#todayLow {
    font-size: calc(3 / 100 * min(100vw, 160vh));
    transform: translate(
        calc(2 / 100 * min(100vw, 160vh)),
        calc(1 / 100 * min(100vw, 160vh))
    );
}


#currentCondition {
    font-size: calc(1.7 / 100 * min(100vw, 160vh));
    margin-top: 25%;
}

#hourlyWeather {
    position: absolute;
    left: 6%;
    top: 38%;
    transform: translateY(calc(24.5 / 100 * min(100vw, 160vh)));

    width: 82%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

    z-index: 2;
}

.hourlyForecast {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "RionaHandwriting", sans-serif;
    color: rgb(59, 39, 60);
}

.hourlyTime {
    font-size: calc(1.2 / 100 * min(100vw, 160vh));
}

.hourlyIcon {
    width: 60%;
    max-width: 50px;
    margin: 0% 0;
}

.hourlyTemperature {
    font-size: calc(1.3 / 100 * min(100vw, 160vh));
    margin-bottom: 40%;
}

#dailyWeather {
    position: absolute;

    left: 12%;
    top: 72%;
    transform: translateY(calc(40.5 / 100 * min(100vw, 160vh)));

    width: 70%;

    display: flex;
    flex-direction: column;

    z-index: 2;
}

.dailyForecast {
    display: flex;
    align-items: center;

    width: 100%;
    height: 25%;
    margin-bottom: 4%;

    font-family: "RionaHandwriting", sans-serif;
    color: rgb(59, 39, 60);
    
}

.dailyDate {
    width: 25%;
     font-size: calc(1.8 / 100 * min(100vw, 160vh));

    display: flex;
    align-items: center;
    gap: 10%;
}

.dailyDay {
    font-size: calc(1.8 / 100 * min(100vw, 160vh));
}

.dailyDateNumber {
    font-size: calc(1.8 / 100 * min(100vw, 160vh));
}

.dailyIcon {
    width: 8%;
    margin-left: 10%;
    margin-right: 10%;
}

.dailyTemperature {
    font-size: calc(1.8 / 100 * min(100vw, 160vh));
    white-space: nowrap;
}